/* You can add global styles to this file, and also import other style files */
:root {
  --shadow: 0px;
}

.pokemon-type-icon {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  transition: 200ms all;
}

.pokemon-type-icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.pokemon-type-icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 var(--shadow) #92BC2C;

}

.dark {
  background: #595761;
  box-shadow: 0 0 var(--shadow) #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 var(--shadow) #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 var(--shadow) #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 var(--shadow) #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 var(--shadow) #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 var(--shadow) #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 var(--shadow) #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 var(--shadow) #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 var(--shadow) #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 var(--shadow) #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 var(--shadow) #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 var(--shadow) #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 var(--shadow) #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 var(--shadow) #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 var(--shadow) #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 var(--shadow) #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 var(--shadow) #539DDF;
}

.img-pokemon {
  max-height: 600px;
}